@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

header{
    height: 100vh;
    position: relative;
    background-color: #3faeff;
}

header input{
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;

    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;

    width: 50vw;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
}

#desapega{
    position: absolute;
    left: 50%;
    top: 30%;
    translate: -50% 0%;
    color: white;
    background-color: #235e88;
    padding: 10px;
    border-radius: 20px;
}

#desapega p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 6px;
}

#seta{
    position: absolute;
    left: 50%;
    top: 95%;
    translate: -50% -50%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation-direction: alternate ;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
    animation-name: seta;
    animation-iteration-count: infinite;
    background-color: white;
    padding: 1px 12px;
    border-radius: 100%;
    font-weight: bold;
    border: 1px solid black;
}

@keyframes seta {
    0%{
        top: 90%;
    }

    50%{
        top: 92,5%;
    }

    100%{
        top:95%;
    }
}



main{
    height: 100vh;
}