@charset "UTF-8";

:root{
    --cor01: #FFA166;
    --cor02: #fbe9c2;
    --cor03: #FFBB66;
    --cor04: #FF8666;
    --cor05: #FF5D55;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--cor02);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

nav{
    background-color: var(--cor04);
}

nav>#nav-children{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: var(--cor04);
    min-width: 300px;
    max-width: 1200px;
    margin: auto;

    padding: 0px 15px;
}

nav img{
    max-height: 6vh;
}

ul#nav-itens{
    display: flex;
}

#nav-itens li{
    padding: 10px;
    list-style: none;
    font-weight: bold;

    float: right;
    position: relative;
}

#nav-itens li:hover{
    background-color: var(--cor01);
    transition-duration: 0.3s;
    content: none;
}

#nav-itens li a {
    text-decoration: none;
    color: white;
}

#nav-itens li ul {
    position: absolute;
    top: 38.4px; /* altura em relação ao menu */
    left: 0; /* o quanto ele deve estar do lado em relação ao lado esquerdo do menu */
    display: none;
    background-color: var(--cor04);
    /*border: 1px solid black;*/
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 11px -7px rgba(0, 0, 0, 0.432);
}



#nav-itens li ul li {
    float: left;
    border-radius: 0 0 5px 5px;
}

#categorias::after{
    content: "▼" ;
    padding-left: 2px;
}

#nav-itens li:hover ul{
    display: flex;
    flex-direction: column;
}

#nav-itens li:hover ul a{
    display: flex;
    flex-direction: column;
}

nav button{
    padding: 10px;
    border:none;
    font-weight: bold;
    background-color: var(--cor01);
    color:white;
    border-radius: 6px;
    font-size: 1.1em;
}



main{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

main #principal {

    min-width: 300px;
    max-width: 1200px;

    margin-top: 0px;
    
    display: block;
    background-color: white;

    padding: 0px 0px;

    justify-content: space-evenly;

    display: flex;
    flex-wrap: wrap;
}

main .produto {
    background-color: var(--cor03);
    width: 150px;
    min-height: 150px;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*padding: 10px;*/
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px #4d4d4d20;
    transition-duration: 0.2s;
}

.img-pd{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    align-items: center;
    display: flex;
}

.img-pd img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;

}

a {
    text-decoration: none;
    color:black;
}

#principal a{
    display: inline-block;
}

.preco-pd{
    font-weight: bold;
    margin-top: 6px;
    margin: 5px 10px;
    text-decoration: none;
    display: block;
}

.nome-pd{
    text-align: center;
    padding: 0px 5px;
    margin: 5px 10px;
}

.produto:hover{
    box-shadow: 0px 0px 11px 2px #4d4d4d2e;
}


#sub-nav{
    display: flex;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--cor02);
    width: 100vw;
}

.subtitulo {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 20px;
    width: 100vw;
}

#sub-nav .seta-voltar{
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor04);
    transition-duration: 0.2s;
}

#sub-nav .seta-voltar:hover{
    height: 45px;
    margin: -2.5px;
}

.link-pd{
    margin: 0px 3vw;
    margin-bottom: 20px;
    margin-top: 40px;

}



footer{
    background-color: var(--cor05);
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;    
}

