@charset "UTF-8";

:root{
    --cor01: #FFA166;
    --cor02: #FFD987;
    --cor03: #FFBB66;
    --cor04: #FF8666;
    --cor05: #FF5D57;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--cor02);
}


nav{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: var(--cor04);
}

nav img{
    max-height: 6vh;
}

ul#nav-itens{
    list-style: none;
    display: flex;
}

#nav-itens li{
    margin-left: 20px;
    padding: 10px 10px;
    
    font-weight: bold;
}

#nav-itens li:hover{
    background-color: var(--cor01);
    transition-duration: 0.3s;

}

#nav-itens li a{

    text-decoration: none;
    color: white;

}

nav button{
    padding: 10px;
    border:none;
    font-weight: bold;
    background-color: var(--cor01);
    color:white;
    border-radius: 6px;
    font-size: 1.1em;
}



main{
    margin-bottom: 30px;
}

main #principal{
    min-width: 300px;
    max-width: 1000px;

    margin: auto;

    display: block;
    background-color: white;

    padding: 20px;

    justify-content: space-around;

    display: flex;
    flex-wrap: wrap;
}

main .produto{
    background-color: var(--cor03);
    width: 150px;
    min-height: 150px;
    margin: 0px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 17px -9px #0000008c;
}

.img-pd{
    width: 125px;
    
}

.img-pd img{
    width: 100%;
    height: auto;
}


.preco-pd{
    font-weight: bold;
    margin-top: 6px;
}

.nome-pd{
    text-align: center;
    padding: 0px 5px;
}


footer{
    background-color: var(--cor05);
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
}