@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*:root{
    --cor01: #FFA166;
    --cor02: #fbe9c2;
    --cor03: #FFBB66;
    --cor04: #FF8666;
    --cor05: #FF5D55;
}*/

:root{
    --cor01: #009fb7;
    --cor02: #fed766;
    --cor03: #eff1f3;
    --cor04: #696773;
    --cor05: #272727;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--cor03);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}












nav{
    background-color: var(--cor01);
}

#logo-top p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}

#logo-top .negrito {
    font-weight: bold;
}

nav>#nav-children{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--cor01);
    min-width: 300px;
    max-width: 1200px;
    margin: auto;

    padding: 0px 20px;

}

nav img{
    max-height: 6vh;
}

ul#nav-itens{
    display: flex;
}


#nav-itens li{
    list-style: none;
    font-weight: bold;

    float: right;
    position: relative;

    transition-duration: 0.3s;

}

#nav-itens li:hover{
    background-color: var(--cor01);
}

#nav-itens li a {
    text-decoration: none;
    color: white;
    padding: 24px 10px;
}

#nav-itens li ul {
    position: absolute;
    top: 47px; /* altura em relação ao menu */
    left: 0; /* o quanto ele deve estar do lado em relação ao lado esquerdo do menu */
    display: none;
    background-color: var(--cor04);
    /*border: 1px solid black;*/
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 11px -7px rgba(0, 0, 0, 0.432);

    /*DEIXAR ALGO EM CIMA DE OUTRO(CAMADAS)*/
    z-index: 1000;
}



#nav-itens li ul li {
    float: left;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

#categorias::after{
    content: "▼" ;
    padding-left: 2px;
}

#nav-itens li:hover ul{
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 24px 21px -29px;
}

#nav-itens li:hover ul a{
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav button{
    padding: 10px;
    border:none;
    font-weight: bold;
    background-color: var(--cor01);
    color:white;
    border-radius: 6px;
    font-size: 1.1em;
}




#sub-nav{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    height: 80px;
    background-color: var(--cor03);

    min-width: 300px;
    width: 1200px;
}


#sub-nav .seta-voltar{
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor01);
    transition-duration: 0.2s;
}

#sub-nav .seta-voltar:hover{
    height: 45px;
    margin: -2.5px;
}









main{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main #principal {

    min-width: 300px;
    width: 1200px;

    margin-top: 0px;
    
    display: block;
    background-color: white;

    padding-bottom: 20px;

    justify-content: space-around;


    /*display: flex;
    flex-wrap: wrap;*/


    box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.358);

    border-radius: 10px;
    
}

main .produto {
    background-color: var(--cor03);
    width: 150px;
    min-height: 150px;


    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;
    align-items: center;*/

    /*padding: 10px;*/
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px #4d4d4d20;
    transition-duration: 0.2s;
}

.img-pd{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    align-items: center;
    display: flex;
}

.img-pd img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;

}

.imgcentro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
   
}

a {
    text-decoration: none;
    color:black;
}

#principal a{
    display: inline-block;
}

.preco-pd{
    font-weight: bold;
    margin-top: 6px;
    margin: 5px 10px;
    text-decoration: none;
    display: block;
}

.nome-pd{
    text-align: center;
    padding: 0px 5px;
    margin: 5px 10px;
}

.produto:hover{
    box-shadow: 0px 0px 11px 2px #4d4d4d2e;
}


#sub-nav{
    display: flex;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--cor03);
    
}

.subtitulo {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 20px;
    
}


.link-pd{
    margin: 0px 3vw;
    margin-bottom: 20px;
    margin-top: 40px;

}

article{
    margin: 20px;
    text-indent: 1em;
    line-height: 1.6em;

    display: flex;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    margin-top: 50px;
    color: var(--cor01);
}

iframe{
    position: relative;
    left: 50%;
    translate: -50% 0;
    border-radius: 10px;
    max-width: 90vw;
}






footer{
    background-color: var(--cor05);
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;    
}

footer p {
    text-shadow: 1px 1x 1px white;
}

footer p {
    text-shadow: 0px 0px 9px #ffffff78;
}

