@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*:root{
    --cor01: #FFA166;
    --cor02: #fbe9c2;
    --cor03: #FFBB66;
    --cor04: #FF8666;
    --cor05: #FF5D55;
}*/

:root{
    --cor01: #009fb7;
    --cor02: #fed766;
    --cor03: #eff1f3;
    --cor04: #696773;
    --cor05: #272727;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--cor03);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a{
    text-decoration: none;
}







nav{
    background-color: var(--cor01);
}

nav>#nav-children{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: var(--cor01);
    min-width: 300px;
    max-width: 1200px;
    margin: auto;

    padding: 0px 15px;
}

nav img{
    max-height: 6vh;
}

#logo-top p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}

#logo-top .negrito {
    font-weight: bold;
}


ul#nav-itens{
    display: flex;
}


#nav-itens li{
    padding: 10px;
    list-style: none;
    font-weight: bold;

    float: right;
    position: relative;
}

#nav-itens li:hover{
    background-color: var(--cor01);
    transition-duration: 0.3s;
    content: none;
}

#nav-itens li a {
    text-decoration: none;
    color: white;
}

#nav-itens li ul {
    position: absolute;
    top: 8vh; /* altura em relação ao menu */
    left: 0; /* o quanto ele deve estar do lado em relação ao lado esquerdo do menu */
    display: none;
    background-color: var(--cor04);
    /*border: 1px solid black;*/
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 11px -7px rgba(0, 0, 0, 0.432);
}



#nav-itens li ul li {
    float: left;
    border-radius: 0 0 5px 5px;
}

#categorias::after{
    content: "▼" ;
    padding-left: 2px;
}

#nav-itens li:hover ul{
    display: flex;
    flex-direction: column;
}

#nav-itens li:hover ul a{
    display: flex;
    flex-direction: column;
}

nav button{
    padding: 10px;
    border:none;
    font-weight: bold;
    background-color: var(--cor01);
    color:white;
    border-radius: 6px;
    font-size: 1.1em;
}







#sub-nav{
    display: inline;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--cor03);

    min-width: 300px;
    width: 1200px;
}

#sub-nav .seta-voltar{
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor01);
    transition-duration: 0.2s;
}

#sub-nav .seta-voltar:hover{
    height: 45px;
    margin: -2.5px;
}









main{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main #principal{
    min-width: 300px;
    width: 1200px;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    border-radius: 10px;

    box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.358);

    border-radius: 10px;
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.img-pd{
    margin: 5vh 20px;
    /*border: 2px solid black;*/
    height: 250px;
    margin-left: 20px;
}

.info{
    padding: 10px;
    margin-left: 10px;
    margin-top: 5vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
}

.nome-pd{  
    font-weight: bold;
}

.preco-pd{
    font-size: 2em;
    font-weight: light;

}








footer{
    background-color: var(--cor05);
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;    
}


footer p {
    text-shadow: 0px 0px 9px #ffffff78;
}
